.posts_container_form {
    margin: 3em 28em;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.posts {
    height: 25em;
}

.post_container_form-titulo {
    margin-bottom: 1em;
    margin-right: 34em;
}

.post_container_form_button {
    height: 5em;
    margin-bottom: 1em;
}

@media (max-width: 600px) {
    
}