<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div class="header_logo">
            <a href="../inicio/">
                <img class="header_logo-imagenLogo" src="https://scontent.fmid1-2.fna.fbcdn.net/v/t1.0-9/116343728_183186249897592_7872352272283125949_n.jpg?_nc_cat=106&ccb=2&_nc_sid=8bfeb9&_nc_eui2=AeEM4VG5wuIOg1rECOfVrTaFXFMpF1P_NYFcUykXU_81gaHrdnYk_wVVBZjyrIXlqrM2A8SYAy6q2in4krnyAp9t&_nc_ohc=-2UQdY84-BIAX8P702f&_nc_ht=scontent.fmid1-2.fna&oh=2ee861b4863fb067df71a1df11660677&oe=60108201" alt="Imagen Intra salud">
            </a>
        </div>
        <div class="header_busqueda">
            <a href="../busqueda/index.html"><img alt="icono de buscar" class="header_busqueda-imagenLupa" src="../../assets/iconoLupa.png"></a>
            <a class="header_busqueda-SignUp" href="../registro/registro.html">Sign up</a> |
            <button class="header_busqueda-buttonLogin" href="../login/login.html" id="Login">Login</button>
        </div>
    </header>
    <nav class="navegacion">
        <div class="navegacion_selectores">
            <a href="../inicio/" >Inicio</a>
            <a href="../about/" >Sobre mí</a>
            <a href="" >Blog</a>
            <a href="" >Contacto</a>
        </div>
    </nav>  
    <main class="posts">
        <div class="posts_container">
            
        </div>
    </main>
    <hr class="line">
    <footer class="footer">
        <div class="footer_selectores">
            <a href="https://www.uady.mx/">Conecta</a>
            <span>|</span><a href="https://www.facebook.com"><img src="../../assets/iconoFacebook.png" alt="iconoFacebook" class="icon"> Facebook</a> 
            <span>|</span><a href="https://www.instagram.com"><img src="../../assets/iconoInstagram.png" alt="iconoInstagram" class="icon">Instagram</a> 
            <span>|</span><a href="https://www.youtube.com"><img src="../../assets/iconoYoutube.png" alt="iconoYoutube" class="icon">Youtube</a>
        </div>
    </footer>
    <script defer src="index.js"></script>
</body>
</html>