.posts_container_form {
    margin: 5vh 30vw;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.post_container_form-titulo {
    margin-bottom: 6vh;
    margin-top: 2vh;
    margin-right: 20vw;
}

.post_container_form_inputs {
    display: flex;
    flex-direction: column;
}

#simpleTextForm {
    text-align: justify;
}

#description {
}

.post_container_form_inputs > div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
    width: 23vw;
}

.post_container_form_inputs > div > input {
    border-bottom: 2px solid;
    border-left: 0ch;
    border-right: 0ch;
    border-top: 0ch;
    font-size: medium;
    height: 4vh;
    outline: none;
    width: 14vw;
}

.post_container_form_radios {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
    margin-top: 3vh;
    width: 15vw;
}

.post_container_form-button {
    margin-bottom: 13vh;
    margin-top: 3vh;
}

.post_container_form-button {
    border-radius: 5px;
    border-style: initial;
    background-color: #ff7e67;
    color: white;
    height: 5vh;
    outline: none;
    width: 11vw;
}

@media (max-width: 600px) {
    .posts_container_form {
        border: none;
        display: flex;
    }

    .post_container_form_inputs > div {
        justify-content: left;
        width: 50vw;
    }

    .post_container_form_inputs > div > input {
        width: 50vw;
    }

    .post_container_form-button {
        width: 35vw;
    }

    #simpleTextForm {
        text-align: left;
        font-size: small;
        width: 70vw;
        text-align: justify;
    }
}