* {
    font-family: sans-serif
}

/**************** Cabecera ******************/
header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button, a{
    cursor: pointer;
}

.header_logo-imagenLogo {
    height: 110px;
    margin-left: 80px;
    width: 120px;
}

#busqueda {
    display: none;
}

#inputBusqueda {
    border-radius: 10px;
    border-style: initial black;
    height: 22px;
    outline: none;
    width: 8vw;
}

#buttonBusqueda {
    border-radius: 10px;
    border-style: initial;
    background-color: #ff7e67;
    color: white;
    height: 30px;
    outline: none;
    width: 65px;
}

.header_busqueda {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 100px;
    width: 450px;
}

.header_busqueda-imagenLupa {
    height: 60px;
    width: 60px;
}

.header_busqueda-SignUp {
    color: black;
    text-decoration: none;
}

a.header_busqueda-buttonLogin{
    border-radius: 10px;
    border-style: initial;
    background-color: #ff7e67;
    color: white;
    height: 30px;
    width: 72px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding-top: 7px;
}

/************ Barra de navegación ***************/
.navegacion {
    align-items: center;
    background-color: midnightblue;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-around;
}

.navegacion_selectores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
}

.navegacion_selectores > a {
    color: white;
    outline: none;
    text-decoration: none;
}

/****************** posts **************/
.posts {
    height: 65em;
}

/*************** Pie de pagina *****************/
.line {
    margin-left: 6em;
    margin-right: 6em;
}

.footer {
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-around;
}

.footer_selectores {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 450px;
}

.footer_selectores > a {
    align-items: center;
    color: gray;
    display: flex;
    outline: none;
    text-decoration: none;
}

.icon {
    margin-right: 8px;
    height: 16px;
    width: 16px
}

.error{
    color: red;
    font-weight: bold;
    font-size: smaller;
    font-style: italic;
}

/************* media ****************/

@media (max-width: 600px) {
    .header_logo-imagenLogo {
        display: none;
    }

    .line {
        margin-bottom: 40px;
    }

    .footer_selectores {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .footer_selectores > a {
        margin-bottom: 5px;
    }

    .footer_selectores > span {
        display: none;
    }
}