.posts_container_form {
    margin: 5vh 26vw;
}

.posts {
    height: 80%;
}

.post_container_form-titulo {
    margin-bottom: 2vh;
    margin-right: 24vw;
}

.post_container_form_inputs > div > input {
    width: 16vw;
}

.post_container_form_button {
    height: 4vh;
    margin-bottom: 10vh;
}

.post_container_form-button {
    border-radius: 10px;
}

@media (max-width: 600px) {
    .post_container_form-titulo {
        margin-right: 0.2vw;
    }
}