.posts_container_form {
    margin: 5vh 26vw;
}

.posts {
    height: 80%;
}

.post_container_form-titulo {
    margin-bottom: 2vh;
    margin-right: 24vw;
}

.post_container_form_inputs > div > input {
    width: 16vw;
    margin: 10px 5px;
}

.post_container_form_button {
    height: 4vh;
    margin: 20px 0;
}

.post_container_form-button {
    border-radius: 10px;
    height: 30px;
    width: 90px;
    outline: none;
    background-color: #ff7e67;
    border-style: none;
    color: white;
}

@media (max-width: 600px) {
    .post_container_form-titulo {
        margin-right: 0.2vw;
    }
}